<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lk.modules.mapper.EduQuarterMapper">
    <resultMap id="getQuarterEduInfo" type="com.lk.modules.po.EduQuarterPo">
        <id column="id" property="id"/>
        <collection property="fileList"
                    ofType="com.lk.modules.po.FilePo"
                    select="getQuarterEduLinkFile"
                    column="id"/>
    </resultMap>
    <insert id="saveQuarterEdu" useGeneratedKeys="true" keyProperty="id">
        insert into t_train_quarter(topic, trainDate, year, quarter)
        values (#{topic}, #{trainDate}, #{year}, #{quarter})
    </insert>

    <insert id="saveQuarterEduFileLink">
        insert into t_train_quarter_file_link(trainId,fileId)
        VALUE
        <foreach collection="fileIdList" item="fileId" separator=",">
            (#{trainId},#{fileId})
        </foreach>
    </insert>

    <update id="updateQuarterEdu">
        update t_train_quarter
        <set>
            topic = #{topic},
            trainDate = #{trainDate},
            year = #{year},
            quarter = #{quarter},
        </set>
        where id = #{id}
    </update>

    <delete id="deleteQuarterFileLink">
        delete
        from t_train_quarter_file_link
        where trainId = #{id}
    </delete>

    <update id="deleteQuarterEdu">
        update t_train_quarter
        set trainDelete = 1
        where id = #{id}
    </update>

    <select id="getQuarterEduList" resultType="com.lk.modules.po.EduQuarterPo">
        select *
        from t_train_quarter
        where trainDelete = 0
        <if test="topic != null and topic != ''">
            and topic like CONCAT('%',#{topic},'%')
        </if>
        <if test="trainDate != null and trainDate != ''">
            and trainDate like CONCAT(#{trainDate},'%')
        </if>
        <if test="year != null and year != ''">
            and year = #{year}
        </if>
        <if test="quarter != null and quarter != 0">
            and quarter = #{quarter}
        </if>
    </select>

    <select id="getQuarterEduDetails" resultMap="getQuarterEduInfo">
        select *
        from t_train_quarter
        where trainDelete = 0
          and id = #{id}
    </select>

    <select id="getQuarterEduLinkFile" resultType="com.lk.modules.po.EduQuarterPo">
        select ta.*
        from t_file ta
                 left join t_train_quarter_file_link tb
                           on ta.id = tb.fileId
        where tb.trainId = #{id}
    </select>
</mapper>